$browser-context: 16;

@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}


.docs{
	background-image: url(../img/docs-bg.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	span{
		color: #ffffff;
		font-size: em(100);
		text-shadow: em(0) em(0) em(5) #000000;
	}
}